.buddiesPageTitle {
  padding-top: 120px;
  padding-bottom: 50px;
  color: black;
  text-align: center;
  font-size: 50px;
}
.createBtnCont {
  padding-top: 20px;
}
.createBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7cfbdf;
  text-align: center;
  margin: 0 auto;
  color: black;
  width: 150px;
  height: 50px;
  font-size: 15 px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.buddiesListDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buddiesList {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  max-width: 1600px;
  gap: 5px;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  margin: 0 auto;
  box-sizing: border-box;
}
