.sessionListDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sessionsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 5px;
    max-width: 1600px;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
    margin: 0 auto;
    box-sizing: border-box;
  }
body {
    padding-top: 70px; /* Adjust this value based on the height of your navbar */
}