.sessionsPageTitle {
  padding-top: 120px;
  padding-bottom: 50px;
  color: black;
  text-align: center;
  font-size: 50px;
}
/* Custom button styles */
.createBtn {
  background-color: #7cfbdf;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: none;
  width: 60px;
  height: 60px;
  font-size: 40px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

bi-plus-square {
  color: black;
}
/* Custom hover, focus, and active states */
.createBtn:hover,
.createBtn:focus,
.createBtn:active {
  background-color: #0cc89f;
  color: black;
  outline: none;
  box-shadow: none;
}

.createBtn:focus,
.createBtn:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #0cc89f !important;
  color: black;
}
.sessionListDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sessionsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 5px;
  max-width: 1600px;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  margin: 0 auto;
  box-sizing: border-box;
}
