html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-padding-top: 70px; /* Offset for fixed navbar, change this based on navbar height */
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.custom-navbar {
  background-color: #7CFBDF;
  position: fixed !important;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1030; /* Ensure it stays above other content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tutorial-row{
  background-color: #7CFBDF;
}